<div>
    {{#each sleep}}
    <div>
        <h2>{{ title }}</h2>
        <div>{{ sleep_description }}</div>
        By: {{ user.username }}
        <div>
            <div>{{ dream_sw }}</div>
            <div>{{ dream_description }}</div>
        </div>
        <div>{{ this.tags.0.tag_name }}</div>
    </div>
    {{/each}}
</div>

{{!-- {{ tag.tag_name.length }} --}}