<div>
    {{#each sleep}}
    <div>
        <div>
            <h2>{{ title }}</h2>
            <h3>By: {{ user.username }}</h3>
            <div>{{ hours_slept }}</div>
        </div>
        <p>{{ sleep_description }}</p>
        <div>
            <p>{{ dream_sw }}</p>
            <p>{{ dream_description }}</p>
        </div>
        <div>
            {{#each this.tags}}
            <p>{{ tag_name }}</p>
            {{/each}}
        </div>
    </div>
    {{/each}}
</div>