<div class= "containerClass">
    {{#each sleep}}
    <div class="sleeps">
        <div class = "row heading">
            <h3 class = "col s5 left-align title">{{ title }}</h3>
            <h4 class = "col s2 author push-s4 center-align">By {{ user.username }}</h4>
        </div>
        <div class="row content-container">
            <p class="col s12 sleep-description"><strong>Sleep description:</strong> {{ sleep_description }}</p>
        </div>
        <div class="row">
            <p class="col s2" content><strong>Dream?</strong> {{ dream_sw }}</p>
        </div>
        <div class="row content-container">
            <p class="col s12 dream-description "><strong>Dream description:</strong> {{ dream_description }}</p>
        </div>
            <div class=" row tag-container">
                {{#each this.tags}}
                <div class="tags col s1 center-align">
                    <p>{{ tag_name }}</p>
                </div>
                {{/each}}
            </div>
            <div class="row hours-slept">
                <h3 class = "hours col s10 push s12 center-align">Hours slept: {{ hours_slept }}</h3>
            </div>
    </div>
    {{/each}}
</div>