<div>
    {{#each sleep}}
    <div>
        <div>
            <h2>By: {{ user.username }}</h2>
            <h3>{{ title }}</h3>
            <div>{{ hours_slept }}</div>
        </div>
        <div>{{ sleep_description }}</div>
        <div>
            <div>{{ dream_sw }}</div>
            <div>{{ dream_description }}</div>
        </div>
        <div>
            {{#each this.tags}}
            <div>{{ tag_name }}</div>
            {{/each}}
        </div>
    </div>
    {{/each}}
</div>