<div class= "containerClass">
    {{#each sleep}}
    <div class="sleeps">
        <div class = "row">
            <h3 class = "col s5">{{ title }}</h3>
            <h3 class = "col s4">By: {{ user.username }}</h3>
            <h3 class = "col s3">Hours slept: {{ hours_slept }}</h3>
        </div>
        <p>Sleep description: {{ sleep_description }}</p>
        <div>
            <p>Dream? {{ dream_sw }}</p>
            <p>Dream description: {{ dream_description }}</p>
        </div>
        <div>
            Tags: {{#each this.tags}}
            <p>{{ tag_name }}</p>
            {{/each}}
        </div>
    </div>
    {{/each}}
</div>