<div class= "containerClass">
    {{#each sleep}}
    <div class="sleeps">
        <div class = "row">
            <h2 class = "col s4">{{ title }}</h2>
            <h3 class = "col s4">By: {{ user.username }}</h3>
            <div class = "col s4">Hours slept: {{ hours_slept }}</div>
        </div>
        <p>Sleep description: {{ sleep_description }}</p>
        <div>
            <p>Dream? {{ dream_sw }}</p>
            <p>{{ dream_description }}</p>
        </div>
        <div>
            {{#each this.tags}}
            <p>{{ tag_name }}</p>
            {{/each}}
        </div>
    </div>
    {{/each}}
</div>