<div class= "containerClass">
    {{#each sleep}}
    <div class="sleeps">
        <div class = "row">
            <h3 class = "col s5 title">{{ title }}</h3>
            <h3 class = "col s2 push-s3 hours-slept">Hours slept: {{ hours_slept }}</h3>
        </div>
        <div>
            <h3 class = "col s4 author">By: {{ user.username }}</h3>
        </div>
        <div class="row">
            <p class="col s12 sleep-description"><strong>Sleep description:</strong> {{ sleep_description }}</p>
        </div>
        <div class="row">
            <p class="col s2"><strong>Dream?</strong> {{ dream_sw }}</p>
            <p class="col s9 push-s6 dream-description"><strong>Dream description:</strong> {{ dream_description }}</p>
        </div>
        <div class="row tag-container">
                {{#each this.tags}}
                <div class="tags col s1 center-align">
                    <p>{{ tag_name }}</p>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    {{/each}}
</div>