<div class= "containerClass">
    {{#each sleep}}
    <div class="sleeps">
        <div class = "row">
            <h3 class = "col s5">{{ title }}</h3>
            <h3 class = "col s4">By: {{ user.username }}</h3>
            <h3 class = "col s3">Hours slept: {{ hours_slept }}</h3>
        </div>
        <div class="row">
            <p class="col s12">Sleep description: {{ sleep_description }}</p>
        </div>
        <div class="row">
            <p class="col s2">Dream? {{ dream_sw }}</p>
            <p class="col s10">Dream description: {{ dream_description }}</p>
        </div>
        <div class="row">
                {{#each this.tags}}
                <div class="tags">
                    <p>{{ tag_name }}</p>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    {{/each}}
</div>